## Final Notebook

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:/Users/Priya/CF Work/NY_Citi_Bikes/Data/nyc_data.csv', index_col = 0)

In [4]:
df.shape

(895485, 18)

## Wrangling

In [5]:
# Create a month column 

df['date'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')
df['month'] = df['date'].dt.month
df['month'] = df['month'].astype('int')

In [6]:
# Create the season column

df['season'] = [
"winter" if (month == 12 or 1 <= month <= 2)
    else "spring" if (3 < month <= 5)
    else "summer" if (6 <= month <= 8)
    else "fall"
for month in df['month']
    ]

In [7]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_time,date,end_time,avgTemp,_merge,month,season
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26 18:50:39,2022-01-26,2022-01-26 18:51:53,-2.3,both,1,winter
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-28 13:14:07,2022-01-28,2022-01-28 13:20:23,0.1,both,1,winter
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-10 19:55:13,2022-01-10,2022-01-10 20:00:37,1.6,both,1,winter
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26 07:54:57,2022-01-26,2022-01-26 07:55:22,-2.3,both,1,winter
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-13 18:44:46,2022-01-13,2022-01-13 18:45:43,4.0,both,1,winter

In [8]:
# Create a copy with fewer columns 

df_1 = df.drop(columns = {'ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_id', 'end_station_id',
'member_casual', 'start_time', 'end_time'})

In [9]:
np.random.seed(32)
red = np.random.rand(len(df_1)) <= 0.92

In [10]:
small = df_1[~red]

In [11]:
small.shape

(71391, 11)

In [12]:
small.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,date,avgTemp,_merge,month,season
3,12 St & Sinatra Dr N,12 St & Sinatra Dr N,40.750604,-74.024020,40.750604,-74.024020,2022-01-26,-2.3,both,1,winter
7,12 St & Sinatra Dr N,12 St & Sinatra Dr N,40.750604,-74.024020,40.750604,-74.024020,2022-01-16,-8.0,both,1,winter
25,Essex Light Rail,Essex Light Rail,40.712774,-74.036486,40.712774,-74.036486,2022-01-17,3.9,both,1,winter
44,Christ Hospital,Pershing Field,40.734786,-74.050444,40.742677,-74.051789,2022-01-20,5.1,both,1,winter
58,Essex Light Rail,Washington St,40.712774,-74.036486,40.724294,-74.035483,2022-01-31,-3.4,both,1,winter

In [13]:
small.to_csv('reduced_data_to_plot_7.csv',index = False)

In [14]:
# Display the number of rides by season

print(small.groupby('season').size())

season
fall      25120
spring    11549
summer    26124
winter     8598
dtype: int64

In [15]:
# Display the number of rides by month

print(small.groupby('month').size())

month
1     2137
2     2474
3     4046
4     5018
5     6531
6     8303
7     8614
8     9207
9     8263
10    7131
11    5680
12    3987
dtype: int64